/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-image: url(./starter-code/assets/bg-main-mobile.png);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.bg-color-tan {
    background-color: hsla(177, 68%, 64%, 1);
}

.bg-color-orange {
    background-color: hsla(12, 94%, 65%, 1);
}

.bg-color-gold {
    background-color: hsla(33, 100%, 70%, 1);
}

.bg-color-white {
    background-color: hsla(20, 33%, 98%, 1);
}

.bg-color-black {
    background-color: hsla(244, 23%, 12%, 1);
}

.text-color-white {
    color:hsla(20, 33%, 98%, 1);
}

.text-color-black {
    color:hsla(244, 23%, 12%, 1);
}

.heading-1 {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.454545px;
    margin: 0px 6.4% 20px 6.4%;
}

.heading-2 {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin: 48px 9.6% 12px 9.6%;
}

.body-1 {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 40px 6.4% 166px 6.4%;
}

.body-2 {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin: 0px 9.6% 36px 9.6%;
}

.logo {
    margin: 40px 0px 64px 6.4%;
}

.main-container {
    width: 100%;
    background-image: url(./starter-code/assets/bg-pattern-2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color:hsla(244, 23%, 12%, 1);
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-container img {
    width: 56%;
    margin: -98px 0px 48px 0px;
}

.price-container .heading-2 {
    font-size: 65px;
    line-height: 52px;
    margin-right: 0px;
}

.price-container .body-2 {
    font-size: 20px;
    line-height: 32px;
    margin: 0px;
}
/*
.ios-button:hover {
    background-color:hsla(177, 68%, 64%, 1):
}

.android-button:hover {
    background-color:hsla(33, 100%, 70%, 1):
}

.logo:hover {
    background-color:hsla(12, 94%, 65%, 1); 
}*/